:root {
    --table-line-width: 1px;
}

.home-resource-table {
    margin: 0.9rem 0;
    border-collapse: separate !important;
    width: 100%;
    border: var(--table-line-width) solid var(--light-grey);
    border-radius: 8px;
}

.home-resource-table th {
    padding: 8px 1.25rem;
    text-transform: uppercase;
    font-family: var(--body-font);
    font-size: 0.75rem;
    color: var(--dark-grey);
    text-align: left;
    border-bottom: var(--table-line-width) solid var(--light-grey);
}

.home-resource-table td {
    padding: 0.9rem 1.25rem;
    border-bottom: var(--table-line-width) solid var(--light-grey);
    font-family: var(--body-font);
    font-size: 0.85rem;
    font-weight: 300;
    color: var(--black);
}
.home-resource-table td input {
    box-sizing: content-box;
}
.home-resource-table td:first-of-type {
    font-weight: 500;
}
.home-resource-table tr:last-of-type td, .home-resource-table tr:nth-last-of-type(2) td {
    border-bottom: none;
}

/* Action Buttons */
[data-field-editor="default-button-set"],[data-field-editor="edit-button-set"] {
    display: flex;
    justify-content: space-around;
}
[data-field-editor="cancel-button"] a {
    color: red;
}
[data-field-editor="delete-button"] a {
    color: red;
}
[data-field-editor="save-button"] a {
    color: green;
}

/* Toggle Switch */
div.toggle-switch-wrapper {
    width: fit-content;
    margin: auto;
}

/* Routes Table Column Sizing */
.home-resource-table#routes th:nth-of-type(1) {
    width: 15%;
}
.home-resource-table#routes th:nth-of-type(2) {
    width: 22%;
}
.home-resource-table#routes th:nth-of-type(3) {
    width: 22%;
}
.home-resource-table#routes th:nth-of-type(4) {
    width: 15%;
}
.home-resource-table#routes th:nth-of-type(5) {
    width: 13%;
    text-align: center;
}
.home-resource-table#routes th:nth-of-type(6) {
    width: 13%;
    text-align: center;
}

/* Groups Table Column Sizing */
.home-resource-table#groups th:nth-of-type(1) {
    width: 15%;
}
.home-resource-table#groups th:nth-of-type(2) {
    width: 45%;
}
.home-resource-table#groups th:nth-of-type(3) {
    width: 14%;
}
.home-resource-table#groups th:nth-of-type(4) {
    width: 13%;
    text-align: center;
}
.home-resource-table#groups th:nth-of-type(5) {
    width: 13%;
    text-align: center;
}

/* Removes select box styling when disabled since bootstrap doesn't provide readonly attribute styling*/
select.form-select[readonly] {
    background: none;
    border: 1px solid transparent;
    padding-right: 0;
    padding-left: 0;
}

input[data-validation-error] {
    border: 1px solid red !important;
    outline: none;
}

input[data-validation-error]:focus {
    box-shadow: none;
    outline: solid rgba(255, 39, 39, 0.5) !important;
}


/* Fixes plaintext growing when toggled*/
.home-resource-table td .form-control, .home-resource-table .form-select {
    font-size: 0.85rem;
}
