.container {
    width: 78%;
    margin: 0 auto;
}

section#content {
    padding: 16px 26px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 1px 4px var(--shadow);
}

h1 {
    font-family: var(--body-font);
    font-weight: 600;
    font-size: 1.12rem;
    color: var(--black);
}

p {
    font-family: var(--body-font);
    font-weight: 300;
    font-size: 0.87rem;
    color: var(--dark-grey);
}

.btn {
    font-family: var(--body-font);
    font-size: 0.9rem;
    font-weight: 500;
}
